log.txt
backgrounds
released
*.swp
nohup.out
*.swo
*.os
*.pyc
lib
data
Makefile
*.dblite
bin
*.hi
*.o
bedfiles
*~
uploads
results
download
downloads
*.sql
*.gz
*.temp
*tags
genome_runner_live
templates_live
Notes.txt
*.log
logGRrun.txt
test.txt
*_live 
*.bed
profile
*.tmp
results_cmd
*DS_Store*
*.Sync*
GenomeRunnerTODO
cbio_test
