<html>
	<head>
		<style type="text/css" title="currentStyle">
			@import "static/css/demo_page.css";
			@import "static/css/jquery.dataTables.css";
			@import "static/css/demo_table.css";
			@import "static/css/TableTools.css";
			@import "static/css/TableTools_JUI.css";
			.xaxis path, .xaxis line{
				fill: none;
				stroke: gray;
				stroke-width: 1px;
		</style>
		<script type="text/javascript" 
			language="javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" language="javascript"
			src="static/js/jquery.dataTables.js"></script>
		<script type="text/javascript" language="javascript"
			src="static/js/TableTools.js"></script>
		<script type="text/javascript" language="javascript"
			src="static/js/ZeroClipboard.js"></script>
			<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#tbl').dataTable({
					"sDom": 'T<"clear">lfrtip',
					"oTableTools": {
						"sSwfPath": "static/swf/copy_csv_xls_pdf.swf"
					}
				});
		//		setTimout(ReloadPage(),1000);
			// this refreshes the page.  It is dependent on the content of the progress label
		function ReloadPage(){
				if ($("#progress").val !== "Progress: FINISHED"){
				console.log("reload!");
				location.reload();
				}
			}
			} );


			
			
			
		</script>
	</head>
	<body>
		<table id="tbl" class="display" cellpadding="0"
			cellspacing="0" border="0">
			<thead>
				<tr>
					<th value="gfname">GF Name</th>
					<th value="numfoi">#FOIs</th>
					<th value="numgf">#Genomic Features</th>
					<th value="obsoverlap">#Overlaps (observed)</th>
					<th value="jaccard_observed">#Overlaps (Jaccard observed)</th>
					<th value="expoverlap">#Overlaps (expected)</th>
					<th value="pybed_expoverlap">#overlaps (PyBed expected)</th>
					<th value="jaccard_expoverlap">#overlaps(Jaccard expected)</th>
					<th value="pvalue">P-value</th>
					<th value="pybed_p_value">PyBed P-value</th>
					<th value="jaccard_p_value">Jaccard P-value</th>
					<th value="obsprox">Proximity to GF (observed)</th>
					<th value="expprox">Proximity to GF (expected)</th>
					
				</tr>
			</thead>
			<tbody>

				% for i,e in enumerate(enrichments):
					
					<tr class="${e.category()}">
						<td>${e.B}</td>
						<td>${e.nA}</td>
						<td>${e.nB}</td>
						<td>${e.observed}</td>
						<td>${e.jaccard_observed}</td>
						<td>${e.expected}</td>
						<td>${e.pybed_expected}</td>
						<td>${e.jaccard_expected}</td>
						<td>${e.p_value}</td>
						<td>${e.pybed_p_value}</td>
						<td>${e.jaccard_p_value}</td>
						<td>${e.obsprox}</td>
						<td>${e.expprox}</td>
					</tr>
				% endfor
			</tbody>
		</table>
		<div id="progress" class=".boxed"><b>Progress: </b>${progress}</div>
		<h3>

				<h2><a href="/gr">GO BACK</a></h2>
		<h2>Data Visulization</h2>
		<div id="rect-demo"></div>
		<div id="demo">
			<select onchange="updategraph()" id="coltograph">
				<option value="pvalue">pvalue</option>
				<option value="obsoverlap">observedoverlap</option>
			</select>
			
		</div>

		<script src="static/js/d3.js"></script>
		<script>
			var td = [{gfname: "gf1",pvalue: 0.01, obsoverlap: 100, expoverlap: 150},
					{gfname: "gf2", pvalue: 0.003, obsoverlap: 100, expoverlap: 10},
					{gfname: "gf3", pvalue: 0.06, obsoverlap: 100, expoverlap: 120},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "wefkjlgf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4gf4f4gf4", pvalue: 0.0000000000000000000000000000000000000008, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "wefkjl;jdsaklf;jdskal;fjkldsa;jfkhqwefkl;dsjkafl;djsaklf;jewlkjedsk", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.000008, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.00008, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.00004338, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.0003928, obsoverlap: 300, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 3400, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 500, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf4", pvalue: 0.08, obsoverlap: 100, expoverlap: 155},
					{gfname: "gf5", pvalue: 0.08, obsoverlap: 100, expoverlap: 155}]
				function neglog10(val) {
					return -1 * Math.log(val)/Math.log(10);
				}
			// performs log10 on the pvalue data
			jQuery.each(td,function(i,d) {
				d.pvalue = neglog10(d.pvalue);
				if (d.obsoverlap > d.expoverlap){
					d.pvalue = -1 * d.pvalue;
				}
			});				

			// the name of the column to graph
		

			var curData = $('#coltograph').val()
			var margin = {top: 20, right: 100, bottom: 5, left: 5};
			var width = 500; 
			var pvmin = d3.min(td,function(d) { return d[curData];});
			var pvmax = d3.max(td,function(d) { return d[curData]});
			var barPadding = 3;
			var height = td.length * barPadding*4;
			var curColor = ""
			
			var x = d3.scale.linear().domain([
			pvmin,pvmax])
			.rangeRound([20,width]).nice();
			var xAxis = d3.svg.axis()
			.scale(x)
			.orient("bottom")
			.ticks(5).tickSize(6,3,3);

			function updatescales(){
				 margin = {top: 20, right: 100, bottom: 5, left: 5};
				width = 500; 
				pvmin = d3.min(td,function(d) { return d[curData];});
				console.log("pvmin"+pvmin)
				pvmax = d3.max(td,function(d) { return d[curData]});
				console.log("pvmax" + pvmax)
				barPadding = 3;
				height = td.length * barPadding*4;
				curColor = ""
				x = d3.scale.linear().domain([
				pvmin,pvmax])
				.rangeRound([20,width]).nice();

				xAxis = d3.svg.axis()
				.scale(x)
				.orient("bottom")
				.ticks(5).tickSize(6,3,3);

			}


			function recfill(pvalue){
				if (pvalue < 0){return "#519E12";}
				if (pvalue > 0){return "#9E2012";}
			}	
			
			var bargraph2 = d3.select("#demo").
			append("svg:svg")
			.attr("wdith",width + margin.left + margin.right)
			.attr("height",height +margin.top + margin.bottom);
			function sortlist(a,b){
				return ((a<b) ? -1:((a > b) ? 1 : 0));
			}
			td.sort(sortlist);
			

			

					// draw the quares
			bargraph2.selectAll("rect").
			data(td).
			enter().
			append("svg:rect")
			.attr("x",function(d,i) {return x(Math.min(0,d[curData]));})
			.attr("y",function(d,i) {return i*(height/td.length) + margin.top;})
			.attr("fill",function(d,i) {return recfill(d[curData]);})
			.attr("height", height/td.length - barPadding) 
			.attr("width", function(d) { return Math.abs(x(d[curData]) - x(0));})

			// draw genomic feature names	
			bargraph2.selectAll("text")
			.data(td)
			.enter()
			.append("text")
			.attr("class","lblgfname")
			.text(function(d) {
				return d.gfname;
			})
			.attr("x",function(d) { return x(Math.min(0,d[curData])) + Math.abs(x(d[curData]) - x(0)) + 10;})
			.attr("y",function(d,i) {return i*(height/td.length) + margin.top + 7;})
			.attr("text-anchor","left")
			.attr("style", "font-size: 12; font-family: Helvetica, sans-serif")
			// draw axis 
			

			bargraph2.append("g")
			.attr("class","xaxis")
			.attr("transform","translate(0,0)")
			.attr("width",width)
			.attr("style", "font-size: 12; font-family: Helvetica, sans-serif")
			.call(xAxis);
			
			bargraph2.append("svg:line")
			.attr("class","yaxis")
			.attr("x1",x(0))
			.attr("x2",x(0))
			.attr("y1", 20)
			.attr("y2",height)
			.attr("stroke","grey")
			.attr("stroke-width",1);
			
			// animates the graph during	
			function updategraph(){
				 curData = $('#coltograph').val()
				updatescales();
				bargraph2.selectAll("rect").
				data(td)
				.transition()
				.ease("linear")
				.attr("x",function(d,i) {return x(Math.min(0,d[curData]));})
				.attr("y",function(d,i) {return i*(height/td.length) + margin.top;})
				.attr("height", height/td.length - barPadding) 
				.attr("width", function(d) { return Math.abs(x(d[curData]) - x(0));})
				.attr("fill",function(d,i) {return recfill(d[curData]);})

				bargraph2.selectAll(".yaxis")
				.transition()
				.ease("linear")
				.attr("x1",x(0))
				.attr("x2",x(0))
				.attr("y1", 20)
				.attr("y2",height)
				.attr("stroke","grey")
				.attr("stroke-width",1);

				bargraph2.selectAll(".xaxis")
				.transition()
				.ease("cubic-in-out")
				.attr("wdith",width)
				.call(xAxis);
				

				bargraph2.selectAll(".lblgfname")
				.data(td)
				.text(function(d) {
					return d.gfname;
				})
				.transition()
				.ease("linear")
				.attr("x",function(d) { return x(Math.min(0,d[curData])) + Math.abs(x(d[curData]) - x(0)) + 10;})
				.attr("y",function(d,i) {return i*(height/td.length) + margin.top + 7;});


			}
	
		</script>
		<script text="text/javascript" src="text/javascript">
			var sampleSVG = d3.select("#demo")
				.append("svg")
				.attr("width",100)
				.attr("height",100);

			sampleSVG.append("circle")
				.style("stroke","gray"
		</script>

	</body>
</html>

