<html>
	<head>
		<style type="text/css" title="currentStyle">
			@import "static/css/demo_page.css";
			@import "static/css/jquery.dataTables.css";
			@import "static/css/demo_table.css";
			@import "static/css/TableTools.css";
			@import "static/css/TableTools_JUI.css";
		</style>
		<script type="text/javascript" 
			language="javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" language="javascript"
			src="static/js/jquery.dataTables.js"></script>
		<script type="text/javascript" language="javascript"
			src="static/js/TableTools.js"></script>
		<script type="text/javascript" language="javascript"
			src="static/js/ZeroClipboard.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#tbl').dataTable({
					"sDom": 'T<"clear">lfrtip',
					"oTableTools": {
						"sSwfPath": "static/swf/copy_csv_xls_pdf.swf"
					}
				});
			} );
		</script>
	</head>
	<body>
		<table id="tbl" class="display" cellpadding="0"
			cellspacing="0" border="0">
			<thead>
				<tr>
					<th>GF Name</th>
					<th>#FOIs</th>
					<th>#Genomic Features</th>
					<th>#Overlaps (observed)</th>
					<th>#Overlaps (expected)</th>
					<th>P-value</th>
				</tr>
			</thead>
			<tbody>
				% for i,e in enumerate(enrichments):
					<tr class="${e.category()}">
						<td>${e.B}</td>
						<td>${e.nA}</td>
						<td>${e.nB}</td>
						<td>${e.observed}</td>
						<td>${e.expected}</td>
						<td>${e.p_value}</td>
					</tr>
				% endfor
			</tbody>
		</table>
		<h2><a href="/gr">GO BACK</a></h2>
	</body>
</html>

