<html>
	<head>
		<style type="text/css" title="currentStyle">
			@import "static/css/demo_page.css";
			@import "static/css/jquery.dataTables.css";
			@import "static/css/demo_table.css";
			@import "static/css/TableTools.css";
			@import "static/css/TableTools_JUI.css";
			.chart rect {
					stroke: white;
					fill: steelblue;
				}
		</style>
		<script type="text/javascript" 
			language="javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" language="javascript"
			src="static/js/jquery.dataTables.js"></script>
		<script type="text/javascript" language="javascript"
			src="static/js/TableTools.js"></script>
		<script type="text/javascript" language="javascript"
			src="static/js/ZeroClipboard.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#tbl').dataTable({
					"sDom": 'T<"clear">lfrtip',
					"oTableTools": {
						"sSwfPath": "static/swf/copy_csv_xls_pdf.swf"
					}
				});
			} );
		</script>
	</head>
	<body>
		<table id="tbl" class="display" cellpadding="0"
			cellspacing="0" border="0">
			<thead>
				<tr>
					<th>GF Name</th>
					<th>#FOIs</th>
					<th>#Genomic Features</th>
					<th>#Overlaps (observed)</th>
					<th>#Overlaps (expected)</th>
					<th>P-value</th>
				</tr>
			</thead>
			<tbody>
				% for i,e in enumerate(enrichments):
					<tr class="${e.category()}">
						<td class=gfname>${e.B}</td>
						<td class=numfoi>${e.nA}</td>
						<td class=numgf>${e.nB}</td>
						<td class=obsoverlap>${e.observed}</td>
						<td class=expoverlap>${e.expected}</td>
						<td class=pvalue>${e.p_value}</td>
					</tr>
				% endfor
			</tbody>
		</table>
				<h2><a href=
				<h2><a href="/gr">GO BACK</a></h2>
		<h2>Data Visulization</h2>
		<div id="rect-demo"></div>
		<script src="static/js/d3.js"></script>
		<script>
			var td = d3.selectAll("tBody tr").selectAll("td");
			var barWidth = 40
			var width = (barWidth + 10) * td.length;
			var height = 200;
				
			var barDemo  = d3.select("#rect-demo").
			append("svg:svg")
			.attr("width",width)
			.attr("height",height);

			var x = d3.scale.linear().domain([0, td.length]).range([0,width]);
			var y = d3.scale.linear().domain([0,d3.max(td, function(d) { return .text();})])
			.rangeRound([0,height]);
			
			barDemo.selectAll("rect").
				data(td).
				enter().
				append("svg:rect").
				attr("x", function(d,i) {return x(i); })
				.attr("y", function(d,i) {return height - y(td.numfoi.text());})
				.attr("width", barWidth)
				.attr("fill", "#2d578b");
		</script>

	</body>
</html>

