var barGraph  = d3.select("#rect-demo").
			append("svg:svg")
			.attr("width",width)
			.attr("height",height);

			var y = d3.scale.linear().domain([
			pvmin,pvmax])
			.rangeRound([0,height]).nice();
			
			console.log(td.length)
			barGraph.selectAll("rect").
				data(td).
				enter().
				append("svg:rect").
				attr("x", function(d,i) {return i*(width/td.length); })
				.attr("y", function(d,i) {return y(Math.min(0,d.pvalue));})
				.attr("height", function(d) { return Math.abs(y(d.pvalue) - y(0));})
				.attr("fill","DeepSkyBlue")
				.attr("width", width/td.length - barPadding)

			console.log(td.length)

			/*barGraph.selectAll("text")
			.data(td["pvalue"])
			.enter().append("text")
			.attr("x",function(d) {return y(d) + y.rangeBand()/2;})
			.attr("y",y)
			.attr("dx",-3)
			.attr("dy",".35em")
			.attr("text-anchor","end")
			.text(String);*/

