<!DOCTYPE html>
<html lang="en">
<head>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<style>
	body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	* {
	  margin: 0;
	  padding: 0;
	}
	/* allows the check box tree to be rendered correctly*/
	.ui-icon {float: left;}
	.popover {background: whiteSmoke;border: 1px solid #5E5E5E;}
	</style>
	<link type="text/css" href="static/css/main.css"/>
	<link type="text/css" href="static/css/demo_table.css"/>
	<link type="text/css" href="static/css/jquery.tipsy.class"/>
	<link type="text/css" href="static/css/ui-lightness/jquery-ui-1.8.16.custom.css " rel="stylesheet" />
	
	<script type="text/javascript" src="static/js/jquery.js"></script>
	<script type="text/javascript" src="static/js/jquery-ui-1.8.22.custom.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="static/js/jquery.checkboxtree.js"></script>
	<script src="static/js/fcbkcomplete.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/jquery.slimScroll.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="static/js/jquery.tipsy.js"></script>
	<!-- File input -->
	<script src="static/js/enhance.min.js"i type="text/javascript"></script>
	<script src="static/js/jquery.fileinput.js" type="text/javascript"></script>
	<link type="text/css" href="static/css/jqury.ui.fileinput.css"></link>

	<link rel="stylesheet" href="static/css/combobox.css" type="text/css" media="screen" title="Test Stylesheet" charset="utf-8" />
	<script src="static/js/bootstrap.min.js"></script>
	<script scr="static/js/main.js"></script>

	<script type="text/javascript">
	function getQueryVariable(variable) { 
		var query = window.location.search.substring(1); 
		var vars = query.split("&"); 
		for (var i = 0; i < vars.length; i++) { 
			var pair = vars[i].split("="); 
			if (pair[0] == variable) { 
				return pair[1]; 
			} 
		} 
		return null; 
	} 

	$(document).ready(function() {
		$('#ucsc').checkboxTree({
			initializeChecked: 'collapsed',
			initializeUnchecked: 'collapsed',
			collapseEffect: '',
			expandEffect: ''
		});

		$('#org').change(function() {;
			var org = document.getElementById("org").value;
			var temp = org.split(":");
			var $url="index?organism=" + temp[1];
			window.location = $url;})

		if (getQueryVariable('organism') != null){
			$('#org').val("organism:" + getQueryVariable('organism'));}

			else{$('#org').val("organism:hg19");}
			$.facebooklist('#gfs', '#preadded', '#grfs-auto',{url:'static/gfs.php',cache:1}, 10, {userfilter:1,casesensetive:1});

			$('input:submit').button();
			$(function() {
				$("#accordion").accordion({
					collapsible: true,
					active: false
				});
			});

			// The tooltips
			/*$('.helptooltip').tipsy({
				gravity: 'e',html: true,
				title: function(){
					var d = $(this).attr("title");
					return '<p>'+d+'</p>';
				}				
			})*/

			// the viewport for the treeview
			$("#treeview-inner").slimScroll({
			    	height: $("#ucsc").height(),
			    	width: '540px',
			    	alwaysVisible: true
			});
			console.log($('.helptooltip'));
			
		});
		function viewBoxClick(){
			var minHeight = 300;
			var maxHeight = 500;			
			// resize to the expanded treeview as long as it is less than 500			
			if ($("#ucsc").height() <= maxHeight) {
				var oldHeight = $(".slimScrollDiv").height();
				//$(".slimScrollDiv").css("height", $('#ucsc').height()+'px');
				$(".slimScrollDiv").height($('#ucsc').height());
				$("#treeview-inner").height($("#treeview-inner").height() + $(".slimScrollDiv").height() - oldHeight);

			}
			else if ($("#ucsc").height() > maxHeight){
				//$(".slimScrollDiv").css("height",maxHeight + 'px');
				$(".slimScrollDiv").height(maxHeight);
				$("#treeview-inner").height(maxHeight);
			}

		}
		function switchinput(checked){
			if (checked == "bedfile"){
				document.getElementById("inputbedfile").disabled=false;
				document.getElementById("inputbeddata").disabled=true;
				document.getElementById("inputbeddata").text = ""
				document.getElementById("inputbeddata").value = ""
			}
			else {
				document.getElementById("inputbedfile").disabled=true;
				document.getElementById("inputbeddata").disabled=false;
				document.getElementById("inputbeddata").text = ""
				document.getElementById("inputbeddata").value = ""
			}
		}

		function switchbackgroundinput(checked){
			if (checked == "backgroundfile"){
				document.getElementById("inputbackgroundfile").disabled=false;
				document.getElementById("inputbackgrounddata").disabled=true;
				document.getElementById("inputbackgrounddata").text = ""
				document.getElementById("inputbackgrounddata").value = ""
			}
			else {
				document.getElementById("inputbackgroundfile").disabled=true;
				document.getElementById("inputbackgrounddata").disabled=false;
				document.getElementById("inputbackgrounddata").text = ""
				document.getElementById("inputbackgrounddata").value = ""
			}
		}

		//prevents user from submitting form by accidentally pressing the enter key
		function stopRKey(evt) { 
			var evt = (evt) ? evt : ((event) ? event : null); 
			var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
			if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
		} 

		function changeCheckedStateTreeView(checkAll){
			if (checkAll == true){
				$('#ucsc').checkboxTree('expandAll');
				viewBoxClick();
			}
			else {
				$('#ucsc').checkboxTree('collapseAll');
				viewBoxClick();
			}
		}

		document.onkeypress = stopRKey; 

</script>
</head>
<body bgcolor="#A8D5FF" style="width: 800px">

	<div class="topbar">
		<div class="topbar-inner">
			<div class="container-fluid">
				<a class="brand" href="./" style="font-family:Futura,'Helvetica Neue', Arial">
					<img width="200px" src="static/images/GRLogo.png" />
				</a>
				<ul class="pull-right">
					<li><a href="./overview">Overview</a></li>
					<li><a href="./news">News</a></li>
					<li><a href="./">Use GenomeRunner</a></li>
					<li><a href="./demo">Demo</a></li>
					<li><a href="./cite">How to Cite</a></li>
				</ul>
			</div>
		</div>
	</div>
	<form action="query" method="post" enctype="multipart/form-data">
		<div class="well">
			<b style="font-size:150%;">Organism</b>
			${paths.org_as_html(id="org")}
		</div>
		<div class="well">
			<h3>1. Upload Features of Interest <img class="helptooltip" title="Upload a bed formated file containing regions of interest, to run the enrichment analysis on." style="position: relative;top: 6px;" width=25 height=25 src="static/images/help-icon.png" alt="help"/>
			</h3> 
			<ul>
				<li id="list-bedfeatures">
					<input type="radio" name="rdbed"  checked="checked"  value="bedfile" onclick="switchinput(this.value)"/>
					Bed Files:<input type="file" id="inputbedfile" style="margin:5px" name="bed_file" multiple="multiple"/>   
            <a href="http://www.google.com">Help on BED file format</a>
				</li>
                
				<li id="list-listfeatures">
					<span style="margin-right:5px; float: left">
						<input name="rdbed" type="radio" id="bedchoicedata" style="margin:5px" value="beddata" onclick="switchinput(this.value)"/>
					</span>
					<span style="margin-right:5px; float: left">Paste Data in Bed Format:
					<img class="helptooltip" title="Paste bed formatted regions of interest, to run the enrichment analysis on." style="position: relative;top: 6px;" width=25 height=25 src="static/images/help-icon.png" alt="help"/>
				</span>
					<br/><br/>
					<textarea id="inputbeddata" rows=5 cols=50 style="margin:5px" name="bed_data" disabled>
					</textarea>
				</li>
			</ul>
		</div>
		<div class="well">
			<h3>2. Upload a Background (Optional)<img class="helptooltip" title="If no background file is uploaded, then the genome for the selected organism is used as a background." style="position: relative;top: 6px;" width=25 height=25 src="static/images/help-icon.png" alt="help"/>
			</h3>
			<ul>
				<li id="list-bedbackground">
					<input type="radio" name="rdbackground"  checked="checked" style="margin:5px" value="backgroundfile" onclick="switchbackgroundinput(this.value)"/>
					Bed File:
					<input type="file" id="inputbackgroundfile" style="margin:5px" name="background_file" />
				</li>
				<li id="list-background">
					<span style="margin-right:5px; float: left">

						<input name="rdbackground" type="radio" id="bedchoicedata" style="margin:5px" value="backgrounddata" onclick="switchbackgroundinput(this.value)"/>	
					</span>
					<span style="margin-right:5px; float: left">
						Paste Data in Bed Format:
						<img class="helptooltip" title="Paste bed formatted intervals to be used as a background for random sampling." style="position: relative;top: 6px;" width=25 height=25 src="static/images/help-icon.png" alt="help"/>
					</span>
						<br/><br/>
					<textarea id="inputbackgrounddata" rows=5 cols=50 style="margin:5px" name="background_data" disabled>
					</textarea>
				</li>
			</ul>
		</div>
		<div class="well">
			<h3>3. Upload Genomic Features<img class="helptooltip" title="If no background file is uploaded, then the genome for the selected organism is used as a background." style="position: relative;top: 6px;" width=25 height=25 src="static/images/help-icon.png" alt="help"/>
			</h3>
			<ul>
				<li id="list-bedbackground">					
					Bed Files (.bed or .gz):
					<input type="file" id="inputgenomicfeaturefile" style="margin:5px" name="genomicfeature_file" />
					<a href="http://www.google.com">Help on BED file format</a>
				</li>				
			</ul>
		</div>
		<div class="well">
			<h3>4. Choose genome annotation features:</h3>
			<div id="grfdroplist">
				<label>Enter genome annotation names:</label>
				<ol style="left: 24px;position: relative; padding-top:10px;padding-bottom:10px;">        
					<li id="grf-list" class="input-text">
						<input style="float: left;" type="text" value="" id="gfs" class"grf"/>
					</li>
					<div id="grfs-auto">
						<div class="default">Type the names of the genome annotation features to run</div>
						<ul id="feed">
						</ul>
					</div>
				</ol>   
			</div>
			<label >Select genome annotation features: </label>
				<div>
					<a class="btn" onClick="changeCheckedStateTreeView(true)">Expand All</a>
					<a class="btn" onClick="changeCheckedStateTreeView(false)">Collapse All</a>
				</div>
			<div id="treeview-outer" style="padding-top:10px">
				<div id="treeview-inner" onClick="viewBoxClick()">
					${paths.as_html(id="ucsc")}
				</div>
			</div>
		</div>	
		
		<div class="well">
			<h3>5. Run query!</h3>
			<ul>
				<li>
					<input id="jobname" name="jobname" type="text" value=""/>
					<label style="float:left; margin: 5px;">Enter a job name (optional):</label>
				</li>
				<li>
					<input class="btn btn-primary" type="submit" / >
				</li>
			</ul>
			<br>
			<div class="ui-state-highlight ui-corner-all">
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;">
				</span>GenomeRunner works best in Chrome (Windows) or Internet Explorer 9+ (no compatibility mode). Mac users, use Safari.</p>
			</div>

		</div>
	</form>
</body>
</html>
