<html>
	<head>
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/jui/jquery-ui-1.8.12.custom/js/jquery-ui-1.8.12.custom.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="static/jui/jquery-ui-1.8.12.custom/css/smoothness/jquery-ui-1.8.12.custom.css"/>
    <script type="text/javascript" src="static/js/jquery.checkboxtree.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/jquery.checkboxtree.css"/>

    <script src="static/js/fcbkcomplete.min.js" type="text/javascript" charset="utf-8"></script>    
    <link rel="stylesheet" href="static/css/combobox.css" type="text/css" media="screen" title="Test Stylesheet" charset="utf-8" />
 
    <script type="text/javascript">
		function getQueryVariable(variable) { 
			    var query = window.location.search.substring(1); 
				    var vars = query.split("&"); 
					    for (var i = 0; i < vars.length; i++) { 
					        var pair = vars[i].split("="); 
				        if (pair[0] == variable) { 
					            return pair[1]; 
									        } 
									    } 
						    return null; 
		} 

        $(document).ready(function() {
				$('#ucsc').checkboxTree({
					initializeChecked: 'collapsed',
					initializeUnchecked: 'collapsed'
				});
	
		$('#org').change(function() {;
			var org = document.getElementById("org").value;
			var temp = org.split(":");
			var $url="index?organism=" + temp[1];
			window.location = $url;
				})
		if (getQueryVariable('organism') != null){
				$('#org').val("organism:" + getQueryVariable('organism'));
			}
			else{
				$('#org').val("organism:hg19");
			}

		$.facebooklist('#gfs', '#preadded', '#grfs-auto',{url:'static/gfs.php',cache:1}, 10, {userfilter:1,casesensetive:0});

         });

		function switchinput(checked){
			if (checked == "bedfile"){
				document.getElementById("inputbedfile").disabled=false;
				document.getElementById("inputbeddata").disabled=true;
				document.getElementById("inputbeddata").text = ""
				document.getElementById("inputbeddata").value = ""
			}
			else {
				document.getElementById("inputbedfile").disabled=true;
				document.getElementById("inputbeddata").disabled=false;
				document.getElementById("inputbeddata").text = ""
				document.getElementById("inputbeddata").value = ""
			}
		}

		//prevents user from submitting form by accidentally pressing the enter key
		function stopRKey(evt) { 
			  var evt = (evt) ? evt : ((event) ? event : null); 
				var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
				  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
		} 

		document.onkeypress = stopRKey; 

    </script>
</head>
	<body>
		<h1>GenomeRunner</h1>
		<form action="query" method="post" enctype="multipart/form-data">
			<h3>1. Upload a BED file</h3>
			<ul class='list-input'>
				<li id="list-bed">
				<input type="radio" name="rdbed"  checked="checked" style="margin:5px" value="bedfile" onclick="switchinput(this.value)"/>
					File:<input type="file" id="inputbedfile" style="margin:5px" name="bed_file" />
				</li>
				<li id="list-bed">
				<span style="margin-right:5px; float: left">

				<input name="rdbed" type="radio" id="bedchoicedata" style="margin:5px" value="beddata" onclick="switchinput(this.value)"/>	
			</span>
				<span style="margin-right:5px; float: left">Bed Data:</span>
						<textarea id="inputbeddata" rows=5 cols=100 style="margin:5px" name="bed_data" disabled>
						</textarea>
				</li>
			</ul>
			<h3>2. Choose tracks of interest:</h3>
			<b>Organism</b>
			${paths.org_as_html(id="org")}
			<div id="grfdroplist">
				<ol>        
					<li id="grf-list" class="input-text">
					  <input type="text" value="" id="gfs" class"grf"/>
					  <ul id="preadded" style="display:none">
					  </ul>
					  <div id="grfs-auto">
						<div class="default">Type the names of the GenomeRunner features to run</div> 
						<ul id="feed">
						</ul>
					  </div>
					</li>
				  </ol>   
			</div>
			${paths.as_html(id="ucsc")}
			</div>
			<h3>3. Advanced (optional):</h3>
			<b># MC iters:</b>
				<input id="niter"
					type="text" name="niter" value="10"/> <br />
			<b>Score cutoff:</b>
				<input type="text" name="score" /> <br />
			<b>Strand:</b>
				<input checked="yes" 
					type="radio" name="strand" value="" />Any
				<input type="radio" name="strand" value="+" />+
				<input type="radio" name="strand" value="-" />-
			<br />
			<h3>4. Run query!</h3> 
			<input type="submit" / >
		</form>
	      
	</body>
</html>
