<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
			/* allows the check box tree to be rendered correctly*/
			.ui-icon {float: left;}
		</style>

		<!-- For IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link type="text/css" href="static/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
		<link type="text/css" href="static/css/main.css"/>
		<script type="text/javascript" src="static/js/jquery.js"></script>
	 	<script src="static/js/bootstrap.min.js"></script>
		<script scr="static/js/main.js"></script>
		
</head>
<body bgcolor="#A8D5FF">

	<div class="topbar">
		<div class="topbar-inner">
			<div class="container-fluid">
				<a class="brand" href="./" style="font-family:Futura,'Helvetica Neue', Arial">
					<img width="200px" src="static/images/GRLogo.png" />
				</a>
				<ul class="pull-right">
					<li><a href="./overview">Overview</a></li>
					<li><a href="./news">News</a></li>
					<li><a href="./demo">Demo</a></li>
					<li><a href="./cite">How to Cite</a></li>
					<li><a href="./help">Help</a></li>
<!-- <div>
					<li><a href="./google">Google Group</a></li>
					<li><img width="30px" src="static/new-icon.jpg" alt="New: GenomeRunnerSNP Google Groups" /></li>
</div> -->
				</ul>
			</div>
		</div>
	</div>
<div class="well">
	<h3>News</h3>
	MM/DD/YYYY: GenomeRunner SNP beta version is online
	<h3>ToDo, all issues</h3>
	<ul type="circle">
		<li>Where can I put some text for each tab, to explain what is shown?</li>
		<li>#in server.py. Remove "Run Annotation : False" output in the log.txt file, and corresponding variable. The "Job name" should be that randomly generated string.</li>
		<li>#When running last analysis, the progress bar is already full. Need to be not full</li>
		<li>#Uploaded GFs are working as .bed files. .gz and .bb should also work. The same should be true for uploaded FOIs and for the background - overlapStatistics handles all these types</li>
		<li>#GF TreeView not working. This is probably part of the problem above</li>
		<li>#Pearsons heatmap not displayed</li>
		<li>Save as PDF</li>
		<li>Command line usage is completely broken</li>
		<li>Annotation names are outuptted as counter|name. Sorting in the table goes by number, starting with 10, 11 etc. It is confusing, can we find a way to represent them in the original order as in the file?</li>
		<li>Wrapping up as a Python package</li>
	</ul>
	<h3>Completed, only major issues</h3>
	<ul type="disc">
		<li>Annotation works</li>
		<li>each organism should have a dedicated "background" folder, where background files can be added. This folders may be scanned and background drop-down populated with available files. This helps to avoid modifying the code - right now, each background should be manually hardcoded</li>
		<li>Background in BigBed (fastest) format works</li>
	</ul>


</div>

</body>
</html>
